<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Default list delimeter is ';' char, may be escaped by '/' -->
<!-- 	 1.01 Added masks for data and event files
	 1.02 Changed string time format
	 1.03 Removed stations and channels descriptions
	 1.04 Added filters strings
	 1.05 Added ExportDir and LogFile tags
	 1.06 Changed name of XYZ2SessionConfiguration tag to XMAXSessionConfiguration
	 1.07 Added separated plugin configuration
 -->
<XMAXSessionConfiguration>
<Version>
		<Major>1</Major>
		<Minor>6</Minor>
	</Version>
<!--  Sets start time for display. Recovers by -b option-->
<!--  StartTime>2007,055,05:00:00</StartTime-->
<!--  Sets end time for display. Recovers by -e option-->
<!--  EndTime>2007,055,10:00:00</EndTime-->
<Configuration>
		<Data>
			<!--  Wildcarded mask of data files to load. Recovers by -d option. Default is "./DATA/*"-->
			<DataMask>resources/DATA/*</DataMask>
			<!--  Temporary directory to store decompressed traces in the internal format -->
			<TempPath>resources/DATA_TEMP</TempPath>
			<!--  Quality control data file. Recovers by -q option -->
			<QCdataFile>/home/max/DATA/QC.xml</QCdataFile>
			<EventFileMask>resources/*.ndk</EventFileMask>
			<StationInfoFile>resources/gsn_sta_list</StationInfoFile>
			<ResponsePath>resources/Responses</ResponsePath>
			<AllowMultiplexedData>true</AllowMultiplexedData>
			<!--  Picks directory. Recovers by -p option -->
			<PickPath>resources/Picks</PickPath>
		</Data>
		<!--  Contains wildcarded lists of values, separated by ";". The same as -n, -s, -l, -c command line options-->
		<Filters> 
			<Network/>
			<Station/>
			<Location/>
			<Channel/>
		</Filters>
		<View>
			<ShowBigCursor>true</ShowBigCursor>
			<ShowStatusBar>true</ShowStatusBar>
			<ShowCommandButtons>true</ShowCommandButtons>
			<ShowCommandButtonsTop>false</ShowCommandButtonsTop>
		</View>
		<OutputPath>./Output</OutputPath>

		<!-- Panel order: 
		0 - trace name, currently network/station/location/channel; 
		1 - Network/station/sample rate/channel type/location; 
		2 - Channel/network/station/location, 
		3 - Channel type/channel/network/station, 
		4 - event-->
		<PanelOrder>1</PanelOrder>

		<!-- Panel count unit: 
		0 - trace, 
		1 - station, 
		2 - channel, 
		3 - channel type, 
		4 - all -->
		<PanelCountUnit>1</PanelCountUnit>
		<UnitsInFrame>1</UnitsInFrame>
		<LogFile>logs/XMAX.LOG</LogFile>
		<Plugins>
			<PSD>
				<HuttPeriods>0.2,1.0,20.5,110.2</HuttPeriods>
			</PSD>
		</Plugins>
	</Configuration>
<SessionData>
<ExportDir/>
<Frame>
<State>NORMAL</State>
<PosY>22</PosY>
<PosX>0</PosX>
<Width>1280</Width>
<Heigth>774</Heigth>
</Frame>
<UserDir>
<MSEED>/Users/mth/mth/Projects/xmax</MSEED>
<ASCII>/Users/mth/mth/Projects/xmax</ASCII>
<SAC>/Users/mth/mth/Projects/xmax</SAC>
</UserDir>
</SessionData>
</XMAXSessionConfiguration>
